body {
  background-color: white; /* 背景色を白に設定 */
  color: black; /* 文字色を黒に設定 */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
  padding-bottom: 300px;
  background-image: url('background.png'); /* 画像ファイルを指定 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center; /* 横方向に中央揃え */
  align-items: center;     /* 縦方向に中央揃え */
  text-align: center;      /* 文字も中央揃え */
}

.content {
  background-color: rgba(0, 0, 0, 0.7); /* 背景色（半透明黒） */
  padding: 20px;
  border: 3px solid rgba(255, 255, 255, 0.7); /* 白の半透明ボーダー */
  border-radius: 10px;
  color: white; /* 文字色 */
  font-size: 24px;
  text-align: center;
  width: 60%;
}

@media (max-width: 768px) {
  .content {
    width: 80%; /* スマホ版では囲みの幅を広げる */
    padding: 20px; /* スマホ版では少し余白を減らす */
    font-size: 13px;
  }

  .my-server {
    transform: scale(0.8);
    transform-origin: top; /* スケーリングの基準点を左上に変更 */
  }
}

.ad-bottom {
  position: fixed;
  bottom: 0px; /* 下から0pxの位置 */
  left: 50%; /* 水平方向に中央寄せ */
  transform: translateX(-50%); /* 中央寄せ調整 */
  z-index: 1000; /* 広告を他の要素の上に表示 */
}

.ad-left {
  position: fixed;
  top: 0px; /* 下から0pxの位置 */
  left: 0px; /* 右から0pxの位置 */
  z-index: 1000; /* 広告を他の要素の上に表示 */
}

.ad-left2 {
  position: fixed;
  top: 600px; /* 下から0pxの位置 */
  left: 0px; /* 右から0pxの位置 */
  z-index: 1000; /* 広告を他の要素の上に表示 */
  transform: scale(1); /* デフォルト倍率（1倍） */
  transform-origin: top left; /* スケーリングの基準点を左上に変更 */
}

.ad-right {
  position: fixed;
  top: 0px; /* 下から0pxの位置 */
  right: 0px; /* 右から0pxの位置 */
  z-index: 1000; /* 広告を他の要素の上に表示 */
}

.ad-right2 {
  position: fixed;
  top: 600px; /* 下から0pxの位置 */
  right: 5px; /* 右から0pxの位置 */
  z-index: 1000; /* 広告を他の要素の上に表示 */
  transform: scale(1); /* デフォルト倍率（1倍） */
  transform-origin: top right; /* スケーリングの基準点を左上に変更 */
}

.switch-language-btn {
  background-color: #4CAF50; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  font-size: 16px; /* 文字サイズ */
  padding: 10px 20px; /* ボタンの内側の余白 */
  border: none; /* 枠線なし */
  border-radius: 5px; /* 角を丸くする */
  cursor: pointer; /* マウスカーソルをポインタにする */
  transition: background-color 0.3s; /* 背景色の変化を滑らかにする */
}

#participant-list {
  margin: 0 auto; /* リスト全体を中央に配置 */
  list-style-type: disc; /* リストマーカーを点に設定 */
  padding: 0;
  width: fit-content; /* コンテンツに応じてリストの幅を調整 */
}

#participant-list li {
  text-align: left; /* リスト項目のテキストを左寄せ */
  padding-left: 20px; /* 点と文字の間に余白を追加 */
}

#participant-list-jp {
  margin: 0 auto; /* リスト全体を中央に配置 */
  list-style-type: disc; /* リストマーカーを点に設定 */
  padding: 0;
  width: fit-content; /* コンテンツに応じてリストの幅を調整 */
}

#participant-list-jp li {
  text-align: left; /* リスト項目のテキストを左寄せ */
  padding-left: 20px; /* 点と文字の間に余白を追加 */
}

.header-text {
  margin: 0px;
  padding: 0px;
}

#id-disp{
  visibility: hidden;
}

#join, #NonMute-btn, #leave {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#join {
  background: rgb(219, 161, 66);
}

#NonMute-btn {
  background-color: rgb(147, 235, 235);
  visibility: hidden;
}

#leave {
  background: rgb(252, 63, 63);
  visibility: hidden;
}

#join-jp, #NonMute-btn-jp, #leave-jp {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#join-jp {
  background: rgb(219, 161, 66);
}

#NonMute-btn-jp {
  background-color: rgb(147, 235, 235);
  visibility: hidden;
}

#leave-jp {
  background: rgb(252, 63, 63);
  visibility: hidden;
}

#button-area, #remote-media-area {
  display: none;
}

/* 音量調節用のスライダーのスタイル */
.volume-slider {
  width: 100px;
  margin-left: 10px;
}


.Id-Key {
  position: relative;
  margin-top: 50vh;
}
